{% extends "pages.html" %}
{% block subTitle %}About Us{% endblock %}
{% block page-heading %}About Quip-Art{% endblock %}
{% block page-subheading %}{% endblock %}

{% block script %}
function Loaded()
{
}
{% endblock %}

{% block pagebody %}
<div class="home">

<h3>A Customized Link Shortener</h3>

<p>Quip-Art lets any artist or designer build a totally customized way to share links.  Each
uploaded overlay image can be the basis of it's own <i>mini-site</i>, complete with it's own
bookmarklet for creating shortened links, and list of popular web pages that users have
shared that use that image.</p>

<p>Every use of your uploaded image can also contain a link back to your own site, so Quip-Art
links are a fun way to extend and share your <i>brand</i>.</p>

<h3>Who's Behind Quip-Art?</h3>

<img style="float:left;margin-right:15px;" src="/images/mike.png">
<p>Quip-Art was created by Mike Koss at <a href="http://startpad.org/">StartPad.org</a>.
After working on sites like <a href="http://faves.com/">Faves.com (Social Bookmarking)</a>,
and <a href="http://Go2.me/">Go2.me (Link Discussion)</a> Mike thought it would be fun
to let people overlay any web page with their own fun or irreverent images.</p>

<p>Quip-Art is implemented using Google's AppEngine, providing a high level of
scalability and protection for user uploaded data.</p>

</div> <!-- home -->
{% endblock %}
