{% extends "pages.html" %}
{% block subTitle %}Warning - Adult Content{% endblock %}
{% block page-heading %}Warning - Adult Content{% endblock %}
{% block page-subheading %}{% endblock %}
{% block pagebody %}
<div style="text-align:center;">
	<p style="font-size: 24px;" class="error">
		The page you are trying to visit has been flagged as containing
		material not suitable for some viewers.
	</p>
	<p>
		If you are 18 or older, and wish to proceed, click the button below.
	</p>
	<input onclick="QA.ContinueToURL();" type="button" value="I am over 18 - Show me the content">
	
</div>
{% endblock %}