{% extends "pages.html" %}
{% block subTitle %}Terms of Service{% endblock %}
{% block page-heading %}Terms of Service{% endblock %}
{% block page-subheading %}{% endblock %}

{% block script %}
function Loaded()
{
}
{% endblock %}

{% block pagebody %}
<div class="home">

<h3>Agreement</h3>

<ul>
<li>This agreement is between you, the user of the Quip-Art web site (the Service), and <a href="http://startpad.org">StartPad</a>,
811 First Ave Seattle, Suite 480, WA, 98104 ("StartPad").</li>
<li>In order to use the Service, you must agree to these Terms of Service.</li>
<li>You must be 13 years or older to use the Service.</li>
<li>StartPad may terminate your use of the Service at any time, if, at the sole discretion of StartPad, you have violated the terms of this agreement.</li>
<li>StartPad reserves the right to change this agreement without prior notice.</li>
</ul>

<h3>Account</h3>

<ul>
<li>You may use the Service anonymously.</li>
<li>If you do create an account (register), you must provide correct contact (email) information so we can get in touch with you about your use of the service.</li>
<li>You agree not to try to access the administrative features of the Service without authorization.</li>
<li>You agree not to attempt to impersonate or otherwise use the Service on behalf of another user without their prior knowledge and consent.</li>
<li>You agree not to attempt to deny access or disrupt the use of the Service by any other user.</li>
</ul>

<h3>Privacy Policy</h3>

<ul>
<li>The <a href="http://code.google.com/appengine/privacy.html">Google App Engine Privacy Policy</a> and
<a href="http://www.google.com/privacypolicy.html">Google Privacy Policy</a> is included by reference in this agreement.</li>
<li>StartPad will have access to your user name and email address if you register with the Service.</li>
<li>StartPad will have access to all information provided by you to the service.</li>
<li>Email addresses will not be disclosed to any 3rd party without your prior consent.</li>
</ul>

<h3>Fees</h3>

<ul>
<li>The Service is provided to you without charge, unless otherwise indictated.</li>
</ul>

<h3>Content</h3>

<ul>
<li>"Content" is defined as any explicit and implicit information provided to the Service in conjunction with your use of the Service.</li>
<li>You understand that all Content to which you may have access through use of the Service is the sole responsibility of the person from which that Content originated.</li>
<li>StartPad may, at it's sole discretion, remove any Content from the Service, without prior notice.</li>
<li>You agree StartPad has no responsibility or liability for the deletion or failure to store any Content you provide to the Service.</li>
</ul>

<h3>License from You</h3>

<ul>
<li>By providing Content to the Service, you give StartPad a worldwide, royalty-free, and non-exclusive license to reproduce, adapt, modify, translate, publish, publicly display and distribute such Content for the purpose of enabling StartPad to provide you and other users with the Service in accordance with its privacy policy.</li>
<li>You may terminate this license by removing your content from the Service.</li>
</ul>

<h3>Exclusion of Warranties</h3>

<ul>
<li>The Service is provided without warranty or liability for losses which may be incurred by you in conjunction with your use of the Service.</li>
<li>You agree that your use of the Service is at your sole risk and is provided to you "as is" and "as available".</li>
</ul>

<h3>Limitation of Liability</h3>

<ul>
<li>You agree that StartPad shall not be liable to you for any damages which may be incurred by you in conjunction with the use of the Service.</li>
</ul>

</div> <!-- home -->
{% endblock %}
